@font-face {
  font-family: 'Ubuntu';
  src: url('../../../fonts/Ubuntu-Bold.ttf');
}
@font-face {
  font-family: 'Ubuntu-Light';
  src: url('../../../fonts/Ubuntu-Light.ttf');
}
@media screen and (max-width: 700px) {
  .progressSign {
    width: 100% !important;
    height: 100px !important;
    border-radius: 0px !important;
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-around !important;
    align-items: center !important;
    margin-right: 0px !important;
    margin-left: 0px !important;
  }
  .stepbox {
    width: 50px !important;
    height: 50px !important;
    margin-right: 0px !important;
    display: flex !important;
    align-items: center !important;
    justify-self: center !important;
  }
  .circle {
    margin-right: 0px !important;
  }
  .infos {
    display: none !important;
  }
  .step {
    display: none !important;
  }
}
.progressSign {
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.circle {
  font-family: 'Ubuntu';
  width: 45px;
  height: 45px;
  border: 2px solid white;
  color: white;
  font-weight: bolder;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  margin-right: 10px;
}
.circleColored {
  background-color: hsl(206, 94%, 87%);
  border: 2px solid hsl(206, 94%, 87%);
  color: black;
}
.stepbox {
  color: white;
  display: flex;
  font-family: 'Ubuntu-Light';
  font-weight: 100 !important;
  width: 60%;
}
.infos {
  font-family: 'Ubuntu';
}
