@media (max-width: 700px) {
  .body {
    width: 100vw;
    min-height: 100vh;
    background-color: hsl(206, 94%, 87%) !important;
    position: absolute !important;
  }
  .form {
    width: 80vw !important;
    min-height: 5vh !important;
    position: absolute;
    top: 0px !important;
    border-radius: 0px !important;
  }
  .progress {
    background-image: url('../images/bg-sidebar-mobile.svg') !important;
    width: 100vw !important;
    height: 160px !important;
    border-radius: 0px !important;
    position: absolute;
    top: 0px !important;
  }
  .main {
    position: absolute;
    top: 120px !important;
  }
}
.bodyb {
  margin: 0;
  padding: 0;
  width: 100vw;
  min-height: 100vh;
  font-family: 'Ubuntu';
}
.body {
  width: 100vw;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: hsl(206, 94%, 87%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.form {
  width: 51vw;
  height: 55vh;
  padding: 10px !important;
  padding-bottom: 10px !important;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  padding: 10px;
}
.progress {
  background-image: url('../images/bg-sidebar-desktop.svg');
  width: 35%;
  height: 98%;
}
.main {
  width: 100%;
  height: 100%;
  padding: 10px;
  background-color: white;
}
.mobileform {
  width: 63%;
  height: 98%;
  background-color: white;
}
