.component {
  font-size: 18px;
  font-family: 'Ubuntu';
  display: flex;
  width: 80%;
  height: 100%;
  flex-direction: column;
  justify-content: space-between !important;
  margin-left: calc(100% - 95%);
}
.title {
  font-size: 28px;
}
.subtitle {
  font-size: 17px;
  color: gray;
}
.checks {
  width: 100%;
  height: 70%;
}
.f {
  display: flex;
}
.buttons {
  display: flex;
  justify-content: space-between;
}
.next {
  width: 120px;
  height: 40px;
  border-radius: 5px;
  margin-right: 0%;
  background-color: hsl(213, 96%, 18%);
  color: white;
  font-family: 'Ubuntu';
  border-radius: 5px;
}
.back {
  background-color: white;
  font-size: 14px;
  border: 0px;
  font-family: 'Ubuntu';
}
.checks {
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: space-around;
  justify-content: space-around;
}
.price {
  color: hsl(213, 96%, 18%);
}
.check {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  border: 1px solid black;
  border-radius: 10px;
  padding-right: 10px;
  box-sizing: border-box;
  justify-content: space-between;
}
.checkbox {
  width: 28px;
  height: 28px;
  border-radius: 5px;
}
.ctitle {
  font-size: 18px;
}
.csubtitle {
  font-size: 14px;
  color: gray;
}
